<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<script type="text/javascript">		
		var app = angular.module("myApp",[]);
		app.controller("myController",function($scope){
			$scope.studentList = [
			  {
				"name": "Tamil Mani",
				"year": 1,
				"gender": "m",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 99
				  },
				  {
					"sub": "English",
					"mark": 65
				  },
				  {
					"sub": "Maths",
					"mark": 88
				  }
				]
			  },
			  {
				"name": "Amuthan",
				"year": 1,
				"gender": "m",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 89
				  },
				  {
					"sub": "English",
					"mark": 79
				  },
				  {
					"sub": "Maths",
					"mark": 79
				  }
				]
			  },
			  {
				"name": "Mugilan",
				"year": 1,
				"gender": "m",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 97
				  },
				  {
					"sub": "English",
					"mark": 89
				  },
				  {
					"sub": "Maths",
					"mark": 99
				  }
				]
			  },
			  {
				"name": "Tamil Oviya",
				"year": 1,
				"gender": "f",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 89
				  },
				  {
					"sub": "English",
					"mark": 87
				  },
				  {
					"sub": "Maths",
					"mark": 97
				  }
				]
			  },
			  {
				"name": "Amutha",
				"year": 1,
				"gender": "f",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 89
				  },
				  {
					"sub": "English",
					"mark": 69
				  },
				  {
					"sub": "Maths",
					"mark": 79
				  }
				]
			  },
			  {
				"name": "Mugil Mathi",
				"year": 1,
				"gender": "f",
				"marks": [
				  {
					"sub": "Tamil",
					"mark": 97
				  },
				  {
					"sub": "English",
					"mark": 89
				  },
				  {
					"sub": "Maths",
					"mark": 99
				  }
				]
			  }
			];
			$scope.filterHandler = function(){
				var gender;
				if($scope.gender === "All"){
					gender = $scope.studentList;
				}else{
					gender = _.where($scope.studentList,{'gender':$scope.gender});
				}			
				if(gender){
					_.each(gender,function(item){
						item.mark = _.findWhere(item.marks,{'sub':$scope.subject}).mark;
					});
				}
				if($scope.maxmin === 'max'){
					$scope.studentFilterList = _.where(gender, {mark: _.max(_.pluck(gender, 'mark'))});
				}else{
					$scope.studentFilterList = _.where(gender, {mark: _.min(_.pluck(gender, 'mark'))});;
				}
			}
		});
		</script>
	</head>
	<body ng-app="myApp">
	<div ng-controller="myController">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Year</th>
					<th>Tamil</th>
					<th>English</th>
					<th>Maths</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="list in studentList">
					<td>{{list.name}}</td>
					<td>{{list.gender}}</td>
					<td>{{list.year}}</td>
					<td>{{list.marks[0].mark}}</td>
					<td>{{list.marks[1].mark}}</td>
					<td>{{list.marks[2].mark}}</td>					
				</tr>
			</tbody>
		</table>
		<br>
		
		<div class="row">
			<div class="col-xs-2">
				<select class="form-control" ng-model="gender">
					<option value="">Gender</option>
					<option value="All">All</option>
					<option value="m">Male</option>
					<option value="f">Female</option>
				</select>
			</div>
			<div class="col-xs-2">		
				<select class="form-control" ng-model="subject">
					<option value="">Subject</option>
					<option value="Tamil">Tamil</option>
					<option value="English">English</option>
					<option value="Maths">Maths</option>			
				</select>
			</div>
			<div class="col-xs-2">
				<select class="form-control" ng-model="maxmin">
					<option value="">Filter</option>
					<option value="max">Max</option>
					<option value="min">Min</option>
				</select>
			</div>		
			<div class="col-xs-2">
				<button type="button" ng-click="filterHandler()" class="btn btn-primary">Submit</button>				
			</div>
		</div>	
		<br>
		<br>
		<table class="table" data-ng-if="studentFilterList.length">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Year</th>
					<th>Tamil</th>
					<th>English</th>
					<th>Maths</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="list in studentFilterList">
					<td>{{list.name}}</td>
					<td>{{list.gender}}</td>
					<td>{{list.year}}</td>
					<td>{{list.marks[0].mark}}</td>
					<td>{{list.marks[1].mark}}</td>
					<td>{{list.marks[2].mark}}</td>					
				</tr>
			</tbody>
		</table>			
		</div>			
	</body>
</html>	